# Mark generated output as such for GitHub diffs:
/examples/Capnp/Gen/ linguist-generated=true
/lib/Capnp/Gen/ linguist-generated=true
/lib/Capnp/Gen/ linguist-generated=true
/lib/Internal/Gen/ linguist-generated=true
/tests/aircraftlib/Capnp/Gen/
