dist
dist-newstyle
*.swp
.cabal-sandbox
cabal.sandbox.config
cabal.project.local
cabal.project.local~

# Profiler outputs (and formatted reports):
*.prof
*.hp
*.aux
*.ps

.ghc.*
result*

.hspec
.hspec-failures

# Code coverage:
.hpc
*.tix

# Generated code for examples & test suite. Note that we do *not*
# ignore generated code for the main library, as there are cyclic
# dependencies between it and the rest of the library.
/examples/Capnp
/tests/Capnp

# I sometimes leave notes for myself in my working directory:
/NOTES

# Benchmark outputs:
*.html
